$background: #626461;
$surface: #10100F;
//$primary: #fc4c04;
$primary: #4f80ea;
//$primary: #023dce;
//$primary: #1a5793;
$text: #666666;
$secondary: #03DAC6;
$textSpan: #1a1a1a;
$error: #B00020;
$info: #2196F3;
$success: #4CAF50;
$warning: #FB8C00;